.navnav {
  background-image:url(https://web.archive.org/web/20160315200942im_/http://static.regretsy.com/nav/bkg.png);
  background-repeat:repeat-x;
}

.navnavinner {
  width:1075px;
  height:38px;
  padding:0px;
  margin:auto;
}

/*
     FILE ARCHIVED ON 20:09:42 Mar 15, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:19:17 Feb 12, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.0
  exclusion.robots: 0.099
  exclusion.robots.policy: 0.08
  esindex: 0.019
  cdx.remote: 45.237
  LoadShardBlock: 273.99 (3)
  PetaboxLoader3.datanode: 544.41 (5)
  load_resource: 548.302 (2)
  PetaboxLoader3.resolve: 217.126 (2)
*/